.container{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
}


.result{
    font-size: 20px;
    margin-bottom: 30px;
}